.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  padding: 20px;
}

.button-group {
  display: flex;
  margin-top: 20px;
  gap: 1em;
}

mat-form-field {
  width: 100%;
}

.success-snackbar {
  background-color: #4caf50;
  color: white;
}
